<!DOCTYPE html>
<html lng="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
        <p>updates every hour....</p>
        <a class="btn btn-primary btn-lg" href="/BangloreJobs" role="button">Banglore Jobs</a>
        <a class="btn btn-primary btn-lg" href="/HydrabadJobs" role="button">Hydrabad Jobs</a>
        <a class="btn btn-primary btn-lg" href="/ChennaiJobs" role="button">chennai Jobs</a>
        <a class="btn btn-primary btn-lg" href="/PuneJobs" role="button">Pune Jobs</a>

    </div>
</div>
</body>
</html>